
.body-text{
        padding: 75px;
        span{
            color: green;
        }
        h1{
            padding-bottom: 50px;
        }
        .row{
            max-width: 1000px;
            text-align: left;
        }
}