.nav{
    display: flex;
    justify-content: space-between;
}

.navbar .nav > li > a{
    padding: 0;
}
.navbar{
    margin-bottom: 0px;
    .container{
        width: inherit;
    }
}

  .nav-justified > li {
  width: inherit;
  }


