.slideshow{
    height: 500px;
    background: no-repeat center center/cover;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    background-image: url('../../assets/star-world-5-background.png');
}

.slideshow-container {
    z-index: -1;
    background: no-repeat center center/cover;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    height: 500px;
    display: block;
    overflow: hidden;
}