.spotlight-container:not(.row){
    height: auto;
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;
    div[class*="col-md-"] {
        //height: 250px;
    }
}
.spotlight-container{
    display: flex;
    justify-content: center;
}
.spotlight.row{
    max-width: 1000px;
}
.spotlight{
    div[class*="col-md-"] {
        .text-area{
            margin: 10px;
            p{
                text-align: left;
                mix-blend-mode: darken;
            }
        }
    }
    #col-1{
        
    }
    #col-2{
    display: flex;
    align-items: center;
    justify-content: center;
    }
}